<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Atharva Lotankar's Portfolio</title>
    <link rel="stylesheet" href="static/styles.css">
  </head>

  <body>
    <header>
      <img src="static/image.png" width="230px" height="230px" align="left" alt="atharva.jpg">
      <h1>Atharva Lotankar</h1>
      <p>Dedicated and versatile 2nd Year IT student with a strong foundation in programming languages like Java, Python, C, C++, Visual Basic, Verilog (HDL), SQL, HTML, CSS, JavaScript, Bash. Seeking to leverage my technical expertise and passion for web development to contribute to innovative digital projects. Eager to apply my skills to create engaging online experiences and stay at the forefront of technological advancements till becoming a Full Stack Developer.</p>
    </header>

    <nav>
      <ul>
        <li><a href="#education">Education</a></li> <!--list item-->
        <li><a href="#projects"> Projects</a></li>
        <li><a href="#experiences">Experiences</a></li>
        <li><a href="#achievements">Achievements</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#admin-login" id="admin-login-btn">Admin Login</a></li>
      </ul>
    </nav>

    <button id="toggle-theme">Toggle Theme</button>

      <main>
      <section id="education"  class="blueWhite">
        <h2>Education</h2>
          <div class="edu-item"> <!--DIV is container tag (Block Level) -->
            <h3>Bachelor of Technology in INFT(B. Tech)</h3>
            <a href="https://vesit.ves.ac.in/"  target="_blank"><p>Vivekanand Education Society's Institute of Technology - Chembur, 2023-2027</p></a>
          </div>

        <div class="edu-item">
         <h3>12th Grade: Intermediary (90.33% in HSC - MH Board)</h3>
         <a href= "https://www.pesthane.org/"  target="_blank"><p>People's Education Society's Junior College of Science - Kopri, 2021-2023</p></a>
         </div>

         <div class="edu-item">
           <h3>10th Grade: Matriculation (98.2% in ICSE)</h3>
           <a href="https://www.billabonghighschool.com/"  target="_blank"><p>Billabong High International School - Thane 2009-2021</p></a>
          </div>
      </section>

        <section id="projects"  class="blueWhite">
        <h2>Projects</h2>

          <div class="">
            <h3>Raspberry Pi and Linux Projects (18 Dec 2024 - 20 Dec 2024)</h3>
            <p>In just three days, I delved into the world of Linux and Raspberry Pi. I began by mastering fundamental Linux commands and file system management. Then, I ventured into the realm of Raspberry Pi, setting up the hardware and experimenting with GPIO control using Python. I even took a step further into machine learning, exploring ThonyIDE in Raspberry Desktop for Python Coding. Throughout this intensive learning journey, I gained a solid understanding of Python programming, enabling me to create simple projects like LED control and camera module operation . This rapid exploration has ignited my passion for embedded systems and opened doors to countless possibilities.</p>

            <i>Link</i>-  <a href="https://drive.google.com/file/d/1wz6FFBAEmSWIlsre86Gi3zeH1_DGhI58/view?usp=drive_link" target="_blank"><p>Raspberry Pi and Linux - ISA-Vesit Project</p></a>
          </div>

          <div class="">
           <h3>Portfolio Website (4 Dec 2024)</h3>
           <p>Developed my personal portfolio using principles and engineering understandings of HTML, CSS, and JavaScript. A Portfolio is designed to provide a dynamic approach of my introductory selfness.</p>

          <i>Link</i>- <a href="https://codepen.io/ATHARVA-LOTANKAR/pen/KwPVqLm" target="_blank"><p>Portfolio - Atharva Lotankar</p></a>
          </div>

          <div class="">
            <h3>Verilog Programming for Electronics Application (2 Dec 2024)</h3>
            <p>Verilog as High Definition Language is very helpful for Electronics Application. I have used Vivaado Software for Developing Gates, Multiplexers Flipflops and Latches - Combinational and Sequential for flexible Electronic Usage. This Electronic Project has gave me an overall learning cognition with all Electronic usages and FSM states by Verilog.</p>

           <i>Link</i>- <a href="https://drive.google.com/file/d/1_SuOhPY_xMgGELCZM7qjXNZbloLmWmhj/view?usp=drive_link" target="_blank"><p>Verilog Programming as HDL</p></a>
          </div>

        <div class="">
         <h3>StudyConnect - Website for Student Groups (19 Oct 2024)</h3>
         <p>Terminating the work on a website working by name “StudyConnect”. It’s a platform where students can create and find their study mates just by based on details like Location Radius, Subject, Study related doubt, etc. Using HTML/CSS for Frontend and JavaScript for Backend Application.</p>
          <i>Link</i>-<a href="https://drive.google.com/file/d/1ULp8300Zso5VJt6G1ocsafOpnbR3MOJQ/view?usp=drive_link" target="_blank"><p>StudyConnect - Proposal & Report</p></a>
         </div>

          <div class="">
            <h3>Railways and Customers (20 Jan 2024)</h3>
            <p>Completed a project for “Railways and Customers”. It was an inspiration from IRCTC app. By using Java I could input railway details and customer details, again by GUI the dynamic approach was clarified, this saved from tedious long queues towards ticket counters. </p>

            <i>Link</i>-<a href="https://drive.google.com/file/d/1o1S1BzY2vQClMC5lFSs3kbHvAMnKiNPM/view?usp=drive_link" target="_blank"><p>Railways and Customers - Java</p></a>
          </div>
      </section>

        <section id="experiences" class="blueWhite">
          <h2>Experiences</h2>
          <div class="">
            <h3>CSI Member</h3>
            <p>I am a member in Council for CSI-VESIT handling for technical operations and website responsibility in CSI field. CSI has given me a versatile experience for programming, technical and non-technical approach and skills to achieve and useful for external and internal applications</p>
            <p><center><img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTI81XAWm3HeYqmRXXn4KwonofxCeQvEKcIQ&s" width ='280px' height='310px' alt="csivesit.jpg"></center></p>
          </div>

          <div class="">
            <h3>Worked in NGO</h3>
            <p>Worked in an NGO by name of "Zebro", for Many NGO services like Old-age Volunteering, Patriotic Diases during Independence Day, Monsoon Waterlogging Analysis and Records for Poverty Improvisation, Eco-Friendly Ganapti Decoration, Blood-Donations.</p>
            <p><center><img src = "https://lh5.googleusercontent.com/proxy/1m5LTBA-KthGqM1BF_vz8iYDhzJ6mNj-4wdFy6W_qj0UQetsFOswSXc7_pdaVtnK74g0Dj5bvYPfBJSgi3Rb0x-r3IBm5GqUVJvbvhx8sVkTq4hhJ_ntwFuuyfjNrvk" width ='290px' height='315px' alt="ngoZbr.jpg"></center></p>
          </div>
        </section>

        <section id="achievements" class="blueWhite">
          <h2>Achievements & Certifications</h2>

          <div class="">
            <h3>Co-Curriculum Achievements</h3>
            <ul>
              <li><b>Centre of Environment Education Certificate</b> - Course of Climate Change and Water Management, Biodiversity, Energy and Waste Management.<i>(March 2024)</i></li>
              <li><b>Energy Swaraj Foundation</b> - Course of Energy Literacy Training.<i>(Feb 2024)</i></li>
              <li><b>Irobokid Sub-Level: IProto: Robotics Level 1 and 2</b> - Tracking path from Earth to Sun (as per route defined), Inchworm Project, Orbiting the Track by pick and drop the object from source to destination, and miscellaneous Automation Techniques <i>(12 Dec 2015 & 9 Apr 2016)</i></li>
            </ul>
          </div>

            <div class="">
              <h3>Extra Curriculum Achievements</h3>
              <ul>
                <li>Kaivalyadhama - Common Yoga Protocol Course (2023)</li>
                <li>Manorama Inter-School Quiz Competition by BSE (2019)</li>
                <li>Government of Maharashtra Drawing Grade Examinations: Elementary and Intermediate Grade Drawing Examination (2017-2018)</li>
                <li>Akhil Bhartiya Balgandharva Mahavidyalay Mandal Certificate for Synthesizer and Harmonium (2016-2018)</li>
                <li>Homi Bhabha Balvaidnyanik Competition (2016-2017)</li>
                <li>Achievement Certificate of One Year Course Completed in English Speech & Drama Programme offered by Helen O'Grady International (2014)</li>
                <li>Certificate of Merit in Badminton - Mulund Gymkhana (2014)</li>
                <li> SilverZone International Olympiad Certificates of:
                <ol type = 'I'>
                  <li>English Language and Science (2014)</li>
                  <li>Science and Informatics (2013)</li>
                  <li>Mathematics and General Knowledge (2012)</li>
                 </ol>
                <li>Spell Bee International Level - Certificate of Merit (2013)</li>
                <li>Certificate of Appreciation by Innovative Council for English (2012-2013)</li>
                <li>Certificate of Award in National Abacus & Mental Arithmetic and Mathematics Test (2011)</li>
              </ul>
            </div>
        </section>

        <section id="skills"  class="blueWhite">
          <h2>Skills</h2>
          <div class="">
            <h3>Coding Analysis by using DSA in C, C++ and Java</h3>
            <p>Coding Analysis with DSA involves breaking down code into smaller, understandable parts using Data Structures (DS) and Algorithms (A). DS like arrays, linked lists, and trees organize data efficiently, while algorithms like sorting and searching optimize problem-solving. This approach improves code efficiency, readability, and maintainability.</p>
          </div>

          <div class="">
            <h3>Web Dev - HTML / CSS / JavaScript</h3>
            <p>HTML, CSS, and JavaScript has enhanced me in crafting dynamic, interactive web experiences.</p>
          </div>

          <div class="">
            <h3>Application in Electronics and Networking</h3>
            <p> Electronics is a hand in hand for IT Student, hence used Vivaado by Verilog Coding to solve Electronics Applications like Gates, Mux, Latches, FSM. Similarly Networking Application I have demonstrated by Cisco Packet Tracer like - LANs, Dual Stack Router, FTP, Telnet, HTTP-DNS and DCHP Configuration.</p>
          </div>

          <div class="">
            <h3>Bash as Scripting Language</h3>
            <p>During my Linux journey, I even learned Bash Language that thoroughly helps in Raspberry Applications. Learning them also gave me to dwell into the foundation of other languages like Rust, Go, etc.</p>
          </div>

          <div class="">
            <h3>Reading and Travelling</h3>
            <p>I am keen to read mystery and spy novels. Have an enigmatic interest in reading Paranormal, gore genre books and explore them in depth to dive in. Travelling with peers or family is a stress-buster in natives or international tours with lot of memories to bring up.</p>
          </div>

          <div class="">
            <h3>Learning New Languages</h3>
            <p>Currently I am well verse in English as International Language, Marathi and Konkani as my Mother Tongue, Hindi as National Language and German as Interest Language to learn. Yet be interested to learn more languages like French, Italian or Russian.</p>
          </div>
        </section>

      <section id="contact" class="blueWhite">
        <h2>Contact Me</h2>
        <form id = "contact-form" align="center">
          <label>Name: </label>
          <input type="text" id="name"><p>

          <label>Email: </label>
          <input type="email" id="email"> <!--email or text any one is allowed--><p>

          <label>Your Message: </label>
          <textarea id = "message"></textarea><p>
          <!--textarea is for longer messages, avoid text-->

          <center><button id="submit" class="btn">Send</button>
            <button type="reset"  class="btn">Reset</button></center>
        </form>
      </section>

        <section id="admin-login"  class="blueWhite">
            <h2>Admin Login</h2>
            <form id="admin-form" align="center">
              <label>Username: </label>
              <input type="text"  id="username"><p>

              <label>Password: </label>
              <input type="password" id="password"><p>

              <center><button type="submit"  class="btn">Login</button></center> <!--This is reqd to make a submit event in JS-->
            </form>
        </section>

        <section id="admin-section"  class="blueWhite">
          <h2>User Responses</h2>
          <div id="user-responses"> </div>
        </section>

        <script>
            //Toggle Theme Button
            const themeToggleBtn = document.getElementById("toggle-theme");

            themeToggleBtn.addEventListener("click", function(){
              document.body.classList.toggle("dark-mode")
            });

            //Admin Login
            const adminLoginBtn = document.getElementById("admin-login-btn");
            adminLoginBtn.addEventListener("click", function(){
              document.getElementById("admin-login").style.display="block";
            });

            //Admin login Credentials code
            const adminForm = document.getElementById("admin-form");
            adminForm.addEventListener('submit', function(e){

              e.preventDefault();
              const u_name = document.getElementById("username").value;
              const p_word = document.getElementById("password").value;

              const storedUsername = "AtharvaLotankar11"; //hardcoding-directly putting value in a variable
              const storedPassword = "192Atharva" //hardcoded password - written directly

              //Conditional statement
              if (u_name == storedUsername && p_word == storedPassword){
                document.getElementById("admin-login").style.display="none";
                document.getElementById("admin-section").style.display="block";

                //FUNCTION CALL TO DISPLAY ALL USER RESPONSES..

              }
              else{
                alert("Invalid credentials! Please Try Again")
              }

            });
        </script>
    </main>
  </body>
</html>